*,
*::before,
*::after {
  box-sizing: border-box;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

body {
  font-family: "Roboto", sans-serif;
}

button {
  margin: 0;
  padding: 0;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  line-height: normal;
  background: none;
  border: none;
  border-radius: none;
  box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
  font-size: 1.3rem !important;
}

ul,
li {
  list-style-type: none;
}

.card__container {
  margin: 10px auto;
  max-height: 30em;
  display: flex;
  overflow-x: auto;
}

.card__container::-webkit-scrollbar {
  width: 0;
}

a {
  text-decoration: none !important;
}

.job__card {
  margin-bottom: 20px;
}
